*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 1rem;
  color: #2b4141;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
