@use "./color";

@font-face {
  font-family: "Hind Siliguri";
  src: url(./assets/fonts/hind-silliguri/hind-siliguri-light.ttf)
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url(./assets/fonts/hind-siliguri/hind-siliguri-regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url(./assets/fonts/hind-siliguri/hind-siliguri-medium.ttf)
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url(./assets/fonts/hind-silliguri/hind-siliguri-semi-bold.ttf)
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url(./assets/fonts/hind-silliguri/hind-siliguri-bold.ttf)
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@mixin page-heading {
  font-weight: 300;
  color: color.$primary;
  font-size: 2.5rem;
}

@mixin section-heading {
  font-weight: 300;
  color: color.$primary;
  font-size: 1.75rem;
  padding: 0.75rem 0;
}

@mixin tagline {
  font-weight: 400;
  padding: 0.5rem 0 0;
}

@mixin text-link {
  font-weight: 400;
  color: color.$accent;
  text-decoration: none;

  &:hover {
    color: color.$accent-hover;
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin form-question {
  font-weight: 500;
}

@mixin form-instructions {
  font-weight: 200;
  font-size: 0.85rem;
  color: color.$grey;
}

$button-font-size: 0.9rem;
