@use "../../styles/partials/base/color";
@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/layout/display";

.custom-checkbox {
  @include display.flexbox(row, start, center, wrap, 0.5rem);

  @include breakpoints.small-phone {
    width: 100%;
  }

  &__icon-container {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: color.$dark;
    box-shadow: inset 0rem 0rem 0.5rem 0.05rem color.$dark-hover;
    transition: background-color 0.5s ease-out;
    @include display.flexbox(row, center, center, wrap);

    @include breakpoints.small-phone {
      height: 3rem;
      width: 3rem;
    }

    &--light {
      background-color: color.$light;
      box-shadow: inset 0rem 0rem 0.3rem 0.04rem color.$light-hover;
    }
  }

  &__icon {
    height: 70%;
  }
}
