@use "../../styles/partials/layout/padding";
@use "../../styles/partials/layout/display";
@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/layout/form-features";

.existing-shops-form {
  &__dropdown {
    width: 100%;
    @include padding.top-bottom(1rem, 1rem);
  }

  &__items {
    @include form-features.fieldset-reset;
  }

  &__checkboxes-container {
    @include form-features.checkbox-container;
  }

  &__button-container {
    @include form-features.button-container;
    @include display.flexbox(row, center, center, wrap);
  }

  &__message-container {
    min-height: 4rem;
    text-align: center;
    width: 100%;
    @include padding.top-bottom(0, 2rem);
  }

  &__form-popup {
    @include form-features.pop-up-message;
  }
}
