@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/base/typography";
@use "../../styles/partials/base/color";
@use "../../styles/partials/layout/margin";
@use "../../styles/partials/layout/padding";
@use "../../styles/partials/layout/display";
@use "../../styles/partials/layout/form-features";
@use "../../styles/partials/styling/button";

.login {
  margin: 0 auto;
  margin-bottom: margin.$page-bottom;
  max-width: display.$desktop-max-width;
  @include padding.top-bottom(4rem, 3rem);
  @include padding.sides;

  @include breakpoints.desktop {
    min-height: 70vh;
  }

  @include breakpoints.large-phone {
    margin-bottom: 0;
    margin-top: margin.$page-top;
    @include padding.top-bottom(4.5rem, 4rem);
  }

  @include breakpoints.desktop {
    @include padding.top-bottom(7rem, 6rem);
  }

  &__form-details {
    @include breakpoints.tablet {
      margin: 0 auto;
      max-width: 35rem;
    }
  }

  &__heading {
    @include typography.page-heading;
  }

  &__instructions {
    padding-bottom: 1rem;
    @include typography.form-instructions;
  }

  &__text-link {
    @include typography.text-link;
  }

  &__form-fields {
    @include breakpoints.tablet {
      @include display.flexbox(column, center, center, wrap);
    }
  }

  &__input-container {
    @include form-features.input-container;
  }

  &__form-input {
    @include form-features.input-default;
    width: 16rem;
  }

  &__button-container {
    width: 100%;
    @include padding.top-bottom(1rem, 2rem);
    @include display.flexbox(row, center, center, wrap);
  }

  &__message-container {
    height: 2rem;
  }

  &__message {
    font-weight: 500;
    text-align: center;
  }
}
