@use "../base/typography";

@mixin button($color, $hover-color) {
  text-decoration: none;
  background-color: $color;
  box-shadow: inset 0rem 0rem 0.07rem 0.02rem $hover-color;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.2rem 0.9rem;
  font-size: typography.$button-font-size;
  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}
